#
# AstroPush notifications 
# Pushover backend configuration
#

# Registered application token
APP_TOKEN=<your app token>

# User or target user/group key
USER_KEY=<your user or target user/group key>

# Uncomment if you want error messages to be delivered
# with Pushover "emergency" priority: they will repeat
# forever on your devices until you manually acknowledge
# the notification. Otherwise they will be delivered with
# Pushover "High" priority, bypassing quiet hours but 
# without repeating.
#
#emergency_on_error=yes
