#
# AstroPush notifications 
# Pushover backend configuration
#

# Registered application token: fill with your app token
APP_TOKEN=

# User or target user/group key: fill with your user or
# group key.
USER_KEY=

# Uncomment if you want error messages to be delivered
# with Pushover "emergency" priority: they will repeat every 
# 60 seconds on your devices until you manually acknowledge
# the notification or one hour elapses. 
# If commented or different from 'yes', error notifications
# will be delivered with Pushover "High" priority, bypassing 
# quiet hours but without repeating.
#
#emergency_on_error=yes
